.import_form
  %h2 Import cards
  = form_tag  user_import_contacts_path(current_user) , multipart: true  do
    = file_field_tag :file
    = submit_tag "Import from file"


%h2 Listing contacts
%table
  %thead
    %tr
      %th Name
      %th Dob
      %th Phone
      %th Address
      %th Credit card
      %th Display_card
      %th Franchise
      %th Email

  %tbody
    - @contacts.each do |contact|
      %tr
        %td= contact.name
        %td= contact.dob
        %td= contact.phone
        %td= contact.address
        %td= contact.credit_card
        %td= contact.display_card
        %td= contact.franchise
        %td= contact.email
        -# %td= link_to 'Show', contact
        -# %td= link_to 'Edit', edit_contact_path(contact)
        -# %td= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }

%br

